.one{
    width: 50%;
    height: 30vh;
    margin: auto;
    background-color: blue;
}
.two{
    width: 50%;
    height: 30vh;
    margin: auto;
    background-color: red;
}

.main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}
    